<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Main Flow" >
    <test name="closeJoinModalFlow">
        <classes>
            <class name="Setup"></class>
            <class name="HomePageTest"></class>
        </classes>
    </test>
    <test name="joinUsFlow" enabled="false">
        <classes>
            <class name="JoinUsTest"></class>
        </classes>
    </test>
    <test name="myStoreFlow" enabled="false">
        <classes>
            <class name="MyStoreSelectionTest"></class>
        </classes>
    </test>
    <test name="searchFlow">
        <classes>
            <class name="SearchTest"></class>
        </classes>
    </test>
</suite>